@charset "UTF-8";
/* 헤더 */
#header {
    height: 150px;
    background-color: antiquewhite;
}
.header-logo {
    text-align: center;
}
/* 메뉴  */
.menu {
    position: fixed;  
    top: 0;
    right: 0;        
    width: 270px;  
    height: 100%;
    background-color: #eee;
    transition: 4s;
}
.user-nav {
    width: 100%;
}
/* 프로필 */
.user-profile {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 40px;   
}
/* 프로필 이미지 */
.profile-img {
    width: 70px;
    height: 70px;
    margin-right: 13px;
    border-radius: 100%;
    background-color: #aaa;
}
/* 프로필 닉네임 */
.profile-nickname p {
    line-height: 70px;
}
/* 유저 메뉴 */
.user-tool {
    width: 100%;
    margin: 10px 0 0 0;    
}
.user-tool ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
/* 메뉴 구분선 */
.line1 {
    margin-top: 50px;
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
    border-color: #aaa;
}
/* 프로그램 메뉴 */
.program-nav {    
    margin-top: 17px;
    margin-left: 10px;
}
.collapse-list {
    margin-left: 20px;
}
/* 전체보기 버튼 토글 */
.btn-toggle {
    margin-right: 0;
}
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;    
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
/* 프로그램 버튼 토글 */
.program-collapse-button {
    width: 16px;
}
/* 프로그램 하위 항목 */
.program-low {   
    margin-left: 30px; 
}
.program-low li {
    margin-bottom: 5px;
}

#main {     
    text-align: center;
    background-color:cadetblue
}

